* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: var(--colortext);
  font-family: var(--fontFamily);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  

}
body{
  height: 200vh;
}
:root {
  /*nav color and shadow*/
  --color1: #1d9bf0;
  --color3: #bb00ff90;
  /**/
  --stats:#0f659f;
  /**/
  --color2: #e2e2e2;
  --color5: #000000;
  /**/
  --fontFamily: "sans-serif";
  --colortext: #eee;

  /**/
  --color6: #ffe4b9;
  /*dolar*/
  --dolar:#ffc400;
}
.dashbord {
  display: flex;
}

.nav-top {
  position: relative;
  background: var(--color1);
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  box-shadow: inset 0px 0px 20px var(--color3);
  transition: 600ms ease-in-out;
}

.input-searsh {
  font-size: 16px;
  width: 310px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid var(--color5);
  padding-left: 30px;
}

.search i {
  position: absolute;
  color: var(--color5);
  margin-left: 5px;
}

.search {
  display: flex;
  align-items: center;
}

.nav-left {
  width: 290px;
  height: 210vh;
  background: var(--color1);
  box-shadow: inset 0px 0px 15px var(--color3);
  transition: 1300ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color5);
  text-align: center;
  gap: 10px;
}

.nav-left .fa-user {
  border: 3px solid var(--color5);
  border-radius: 50%;
  width: 112px;
  height: 110px;
  margin-top: 5px;
  font-size: 100px;
  color: var(--color5);
}

.nav-left #emailuser {
  color: var(--color2);
}

.allnav {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  padding: 0 40px;
  margin-top: 30px;
}

.allnav h1 {
  font-size: 18px;
  border: 2px solid var(--color5);
  border-radius: 4px;
  padding: 8px;
  letter-spacing: 2px;
  display: flex;  
    
}

.allnav h1 i {
  float: left;
  color: var(--color5);
}

.allnav h1:hover {
  background-color: var(--stats);
  border: 2px solid var(--color6);
  color: var(--colortext);
}
h1:hover i {
  color: var(--colortext);
}
.page {
  width: 200%;
  background-color: var(--color2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.allstats {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 80px 30px;
  gap: 10px;
}
.stat {
  display: flex;
  justify-content: space-between;
  margin-bottom:25px;
}

.stats {
  width: 100%;
  background-color:var(--stats);
  border: 2px solid var(--color1);
  box-shadow: 0 0 9px var(--color1);
  border-radius: 10px;
  padding: 10px;
  height: 25vh;
  text-align: center;

}

.stats i {
  color: var(--dolar);
  font-size: 25px;
}

.stats div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.stats:hover{
margin-top: 12px;
  box-shadow: inset 2px 5px 10px rgba(35, 45, 59, 0.269);
  transition:  600ms ease-in-out;

}
@media  screen and (max-width: 450px) {
  
  .allstats {
    flex-wrap:wrap;
  }
  body{
  font-size: 25px;}
  
  .nav-left .allnav h1 {
    font-size: 28px;
  }
}